.ma-grid-col {
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
.ma-grid-col--1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}
.ma-grid-col--2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}
.ma-grid-col--3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.ma-grid-col--4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}
.ma-grid-col--5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}
.ma-grid-col--6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.ma-grid-col--7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}
.ma-grid-col--8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}
.ma-grid-col--9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.ma-grid-col--10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}
.ma-grid-col--11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}
.ma-grid-col--12 {
  flex: 0 0 100%;
  max-width: 100%;
}
@media (min-width: 380px) {
  .ma-grid-col--xs {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .ma-grid-col--xs-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .ma-grid-col--xs-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .ma-grid-col--xs-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .ma-grid-col--xs-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .ma-grid-col--xs-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .ma-grid-col--xs-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .ma-grid-col--xs-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .ma-grid-col--xs-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .ma-grid-col--xs-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .ma-grid-col--xs-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .ma-grid-col--xs-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .ma-grid-col--xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 576px) {
  .ma-grid-col--sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .ma-grid-col--sm-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .ma-grid-col--sm-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .ma-grid-col--sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .ma-grid-col--sm-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .ma-grid-col--sm-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .ma-grid-col--sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .ma-grid-col--sm-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .ma-grid-col--sm-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .ma-grid-col--sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .ma-grid-col--sm-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .ma-grid-col--sm-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .ma-grid-col--sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .ma-grid-col--md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .ma-grid-col--md-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .ma-grid-col--md-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .ma-grid-col--md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .ma-grid-col--md-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .ma-grid-col--md-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .ma-grid-col--md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .ma-grid-col--md-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .ma-grid-col--md-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .ma-grid-col--md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .ma-grid-col--md-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .ma-grid-col--md-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .ma-grid-col--md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .ma-grid-col--lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .ma-grid-col--lg-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .ma-grid-col--lg-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .ma-grid-col--lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .ma-grid-col--lg-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .ma-grid-col--lg-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .ma-grid-col--lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .ma-grid-col--lg-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .ma-grid-col--lg-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .ma-grid-col--lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .ma-grid-col--lg-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .ma-grid-col--lg-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .ma-grid-col--lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .ma-grid-col--xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .ma-grid-col--xl-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .ma-grid-col--xl-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .ma-grid-col--xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .ma-grid-col--xl-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .ma-grid-col--xl-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .ma-grid-col--xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .ma-grid-col--xl-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .ma-grid-col--xl-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .ma-grid-col--xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .ma-grid-col--xl-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .ma-grid-col--xl-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .ma-grid-col--xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.ma-grid-col,
.ma-grid-col--1,
.ma-grid-col--2,
.ma-grid-col--3,
.ma-grid-col--4,
.ma-grid-col--5,
.ma-grid-col--6,
.ma-grid-col--7,
.ma-grid-col--8,
.ma-grid-col--9,
.ma-grid-col--10,
.ma-grid-col--11,
.ma-grid-col--12,
.ma-grid-col--lg,
.ma-grid-col--lg-1,
.ma-grid-col--lg-2,
.ma-grid-col--lg-3,
.ma-grid-col--lg-4,
.ma-grid-col--lg-5,
.ma-grid-col--lg-6,
.ma-grid-col--lg-7,
.ma-grid-col--lg-8,
.ma-grid-col--lg-9,
.ma-grid-col--lg-10,
.ma-grid-col--lg-11,
.ma-grid-col--lg-12,
.ma-grid-col--md,
.ma-grid-col--md-1,
.ma-grid-col--md-2,
.ma-grid-col--md-3,
.ma-grid-col--md-4,
.ma-grid-col--md-5,
.ma-grid-col--md-6,
.ma-grid-col--md-7,
.ma-grid-col--md-8,
.ma-grid-col--md-9,
.ma-grid-col--md-10,
.ma-grid-col--md-11,
.ma-grid-col--md-12,
.ma-grid-col--sm,
.ma-grid-col--sm-1,
.ma-grid-col--sm-2,
.ma-grid-col--sm-3,
.ma-grid-col--sm-4,
.ma-grid-col--sm-5,
.ma-grid-col--sm-6,
.ma-grid-col--sm-7,
.ma-grid-col--sm-8,
.ma-grid-col--sm-9,
.ma-grid-col--sm-10,
.ma-grid-col--sm-11,
.ma-grid-col--sm-12,
.ma-grid-col--xl,
.ma-grid-col--xl-1,
.ma-grid-col--xl-2,
.ma-grid-col--xl-3,
.ma-grid-col--xl-4,
.ma-grid-col--xl-5,
.ma-grid-col--xl-6,
.ma-grid-col--xl-7,
.ma-grid-col--xl-8,
.ma-grid-col--xl-9,
.ma-grid-col--xl-10,
.ma-grid-col--xl-11,
.ma-grid-col--xl-12,
.ma-grid-col--xs,
.ma-grid-col--xs-1,
.ma-grid-col--xs-2,
.ma-grid-col--xs-3,
.ma-grid-col--xs-4,
.ma-grid-col--xs-5,
.ma-grid-col--xs-6,
.ma-grid-col--xs-7,
.ma-grid-col--xs-8,
.ma-grid-col--xs-9,
.ma-grid-col--xs-10,
.ma-grid-col--xs-11,
.ma-grid-col--xs-12 {
  position: relative;
  padding: 0 12px;
  width: 100%;
  min-height: 1px;
}
.ma-grid-col--direction-column {
  flex-direction: column;
}
.ma-grid-col--align-start {
  align-items: start;
}
.ma-grid-col > * {
  flex: auto;
}
.ma-grid-container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 12px;
  padding-left: 12px;
  width: 100%;
}
@media (min-width: 576px) {
  .ma-grid-container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .ma-grid-container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .ma-grid-container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .ma-grid-container {
    max-width: 1180px;
  }
}
.ma-grid-container--fluid {
  max-width: none;
}
.ma-grid-container--form {
  margin: 4.5rem auto;
}
.ma-grid-container--form .ma-grid-row > .ma-grid-col,
.ma-grid-container--form .ma-grid-row > [class*='ma-grid-col--'] {
  margin-bottom: 1.5rem;
}
.ma-grid-container--form .ma-grid-row--has-margin-top {
  margin-top: 1.5rem;
}
@media (min-width: 48em) {
  .ma-grid-container--form .ma-grid-row--no-margin-bottom > .ma-grid-col,
  .ma-grid-container--form
    .ma-grid-row--no-margin-bottom
    > [class*='ma-grid-col--'] {
    margin-bottom: 0;
  }
}
@media (max-width: 47.99em) {
  .ma-grid-container--form
    .ma-grid-row--no-margin-bottom
    > .ma-grid-col--6:nth-last-of-type(-n + 2),
  .ma-grid-container--form
    .ma-grid-row--no-margin-bottom
    > .ma-grid-col--12:last-child {
    margin-bottom: 0;
  }
}
.ma-grid-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -12px;
}
.ma-grid-row--no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.ma-grid-row--no-gutters > .ma-grid-col,
.ma-grid-row--no-gutters > [class*='ma-grid-col--'] {
  padding-right: 0;
  padding-left: 0;
}
.ma-grid-row--direction-column {
  flex-direction: column;
}
